:root {
    --color-main: #004175;
    --color-highlight: #00627e;
    --color-text: #333;

    --white: #fff;
    --black: #000;
    --red: #cc0000;
    --green: #009a45;
    --yellow: #FFBD5D;
    --light: #e5e5e5;
    --blue: #007bff;
    --purple: #6f42c1;
    --pink: #fb4e4e;
    --teal: #20c997;
    --orange: #f39406;
    --cyan: #00c2ff;
    --gray: #898989;

    --font-1: 'Noto Serif', serif;
    --font-2: 'Roboto Condensed', sans-serif;
    --font-3: 'Roboto', sans-serif;
}

/* Background */
.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: var(--light);
}

.bg-gray {
    background-color: var(--gray);
}

/* End Background */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-3);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    color: var(--color-text);
}

a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

a:hover {
    text-decoration: none;
    color: var(--color-highlight);
}

.swiper-container {
    overflow: hidden;
}

input:focus {
    outline: none;
}

/* Custom Bootstrap */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    padding-right: 8px;
    padding-left: 8px;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
}

/* End Custom Bootstrap */

/* Margin */
.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* End Margin */

/* Padding */
.pt-0 {
    padding-top: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

/* End Padding */

/* header-topbar */
.header-topbar {
    background-color: #f4f4f4;
    font-size: 12px;
    color: #838383;
    border-bottom: 1px solid #ccc;
}

.header-topbar a {
    color: #838383;
}

.header-topbar .inner-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px 0;
}

.header-topbar .inner-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-topbar .inner-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-topbar .inner-item {
    border-right: 1px solid #e2e2e2;
    padding-right: 8px;
    margin-right: 8px;
}

.header-topbar .inner-item:last-child {
    border-right: 0;
    margin-right: 0;
}

.header-topbar .inner-hotline a {
    color: var(--red);
}

.header-topbar .form-search form {
    display: block;
    height: 25px;
    border: 1px solid #e2e2e2;
    width: 200px;
    background: #fff;
    position: relative;
}

.header-topbar .form-search form input {
    border: none;
    height: 100%;
    padding-left: 5px;
    width: 100%;
    padding-right: 20px;
}

.header-topbar .form-search form button {
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838383;
}

@media (max-width: 991px) {
    .header-topbar {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .header-topbar {
        display: none;
    }
}

/* End header-topbar */

/* header-main */
.header-main {
    padding: 20px 0;
}

.header-main .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main .inner-logo img {
    max-width: 340px;
    max-height: 70px;
    height: auto;
}

.header-main .inner-banner {
    margin-left: 50px;
    flex: 1;
}

.header-main .inner-banner img {
    width: 100%;
    height: auto;
}

.search-button-open {
    display: none;
}

.search-mobile {
    display: none;
}

@media (max-width: 991px) {
    .header-main .inner-logo img {
        max-height: 40px;
    }
}

@media (max-width: 767px) {
    .header-main {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .header-main .inner-wrap {
        flex-wrap: wrap;
    }

    .header-main .inner-banner {
        display: none;
    }

    .header-main .inner-logo {
        width: calc(100% - 40px);
        text-align: center;
    }

    .menu-button-open {
        display: block !important;
        font-size: 20px;
        cursor: pointer;
        width: 20px;
    }

    .search-button-open {
        display: block !important;
        font-size: 20px;
        cursor: pointer;
        width: 20px;
    }

    .search-mobile {
        width: 100%;
        padding-top: 10px;
    }

    .search-mobile.show {
        display: block;
    }

    .search-mobile form {
        display: block;
        height: 25px;
        border: 1px solid #e2e2e2;
        width: 100%;
        background: #fff;
        position: relative;
        font-size: 12px;
        color: #838383;
    }

    .search-mobile form input {
        border: none;
        height: 100%;
        padding-left: 5px;
        width: 100%;
        padding-right: 20px;
    }

    .search-mobile form button {
        border: none;
        background: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #838383;
    }
}

/* End header-main */

/* header-menu */
.menu-button-open,
.menu-button-close,
.menu-overlay {
    display: none;
}

.header-menu {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.header-menu .inner-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-menu .inner-list::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    border: 1px solid #d5d5d5;
}

.header-menu .inner-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.header-menu .inner-list::-webkit-scrollbar-thumb {
    background: var(--color-highlight);
}

.header-menu .inner-list::-webkit-scrollbar-thumb:hover {
    background: var(--color-main);
}

.header-menu .inner-list>li {
    padding: 0 7px;
    position: relative;
    display: flex;
    align-items: center;
}

.header-menu .inner-list>li:after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
}

.header-menu .inner-list>li:first-child {
    padding-left: 0;
}

.header-menu .inner-list>li:last-child {
    padding-right: 0;
}

.header-menu .inner-list>li:last-child:after {
    content: none;
}

.header-menu .inner-list>li a {
    font-size: 13px;
    font-family: var(--font-2);
    font-weight: bold;
    white-space: nowrap;
    color: var(--black);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.header-menu .inner-list>li:hover>a {
    color: var(--color-main);
}

.header-menu .inner-list>li>.inner-icon-down {
    margin-left: 4px;
}

.header-menu .inner-list>li.inner-home a {
    font-size: 18px;
    color: var(--red);
}

.header-menu .inner-list>li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: var(--white);
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-menu .inner-list>li:hover ul {
    display: block;
    border: 1px solid #e2e2e2;
}

.header-menu .inner-list>li ul li a {
    display: block;
    padding: 4px 10px;
    border-bottom: 1px solid #e2e2e2;
    white-space: nowrap;
}

.header-menu .inner-list>li ul li a:hover {
    color: var(--color-main);
}

@media (max-width: 767px) {
    .header-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background: transparent;
        z-index: 999;
    }

    .header-menu.show {
        display: block;
    }

    .header-menu .inner-list {
        position: absolute;
        left: 0;
        width: 100%;
        max-width: 280px;
        height: 100vh;
        background: var(--white);
        display: block;
        overflow-y: auto;
    }

    .menu-overlay {
        display: block;
        background: #00000078;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .menu-button-close {
        display: inline-block;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1;
        color: var(--white);
        font-size: 24px;
        cursor: pointer;
    }

    .header-menu .inner-list>li {
        padding: 0;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        flex-wrap: wrap;
    }

    .header-menu .inner-list>li:after {
        content: none;
    }

    .header-menu .inner-list>li:hover ul {
        display: none;
        border: 0;
    }

    .header-menu .inner-list>li ul li:last-child a {
        border: 0;
    }

    .header-menu .inner-list>li a {
        padding: 4px 12px;
        min-height: 38px;
        width: calc(100% - 38px);
        display: flex;
        align-items: center;
    }

    .header-menu .inner-list>li>.inner-icon-down {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 38px;
        border-left: 1px solid #ddd;
        margin-left: 0;
        cursor: pointer;
    }

    .header-menu .inner-list>li>.inner-icon-down.active::before {
        content: "\f0d8";
    }

    .header-menu .inner-list>li ul.active {
        display: block;
        position: relative;
        width: 100%;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        margin-left: 10px;
    }

    .header-menu .inner-list>li ul li a {
        width: 100%;
        display: flex;
    }
}

/* End header-menu */

/* banner-full */
.banner-full img {
    width: 100%;
    height: auto;
}

/* End banner-full */

/* wrap-two-col */
.wrap-two-col > .inner-wrap {
    display: flex;
    justify-content: space-between;
}

.wrap-two-col > .inner-wrap>.inner-left {
    width: 70.8%;
}

.wrap-two-col > .inner-wrap>.inner-right {
    width: 27%;
}

@media (max-width: 575px) {
    .wrap-two-col > .inner-wrap {
        flex-wrap: wrap;
    }

    .wrap-two-col > .inner-wrap>.inner-left {
        width: 100%;
    }
    
    .wrap-two-col > .inner-wrap>.inner-right {
        width: 100%;
    }
}

/* End wrap-two-col */

/* wrap-two-col-2 */
.wrap-two-col-2 > .inner-wrap {
    display: flex;
    justify-content: space-between;
}

.wrap-two-col-2 > .inner-wrap>.inner-left {
    width: 60%;
}

.wrap-two-col-2 > .inner-wrap>.inner-right {
    width: 37.5%;
}

@media (max-width: 767px) {
    .wrap-two-col-2 > .inner-wrap {
        flex-wrap: wrap;
    }
    
    .wrap-two-col-2 > .inner-wrap>.inner-left {
        width: 100%;
    }
    
    .wrap-two-col-2 > .inner-wrap>.inner-right {
        width: 100%;
    }
}

/* End wrap-two-col-2 */

/* box-title */
.box-title {
    margin-bottom: 12px;
}

.box-title a,
.box-title a:not([href]):not([class]) {
    color: var(--red);
    font-family: var(--font-1);
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

.box-title a:after {
    content: '/';
    margin-left: 3px;
}

@media (max-width: 991px) {

    .box-title a,
    .box-title a:not([href]):not([class]) {
        font-size: 14px;
    }
}

/* End box-title */

/* box-partners */
.box-partners .inner-wrap {
    margin-bottom: 30px;
}

.box-partners .inner-item a {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    border: 1px solid #ebebeb;
    padding: 5px;
}

.box-partners .inner-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* End box-partners */

/* news-type-1 */
.news-type-1 .inner-item {
    background-color: #f0f0f0;
    display: flex;
    align-items: flex-start;
}

.news-type-1 .inner-item .inner-image {
    width: 65%;
}

.news-type-1 .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.news-type-1 .inner-item .inner-content {
    width: 35%;
    padding: 20px;
}

.news-type-1 .inner-item .inner-content .inner-title a {
    color: var(--color-main);
    font-weight: bold;
    font-size: 22px;
    font-family: var(--font-1);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.news-type-1 .inner-item .inner-content .inner-title a:hover {
    color: var(--color-highlight);
}

.news-type-1 .inner-item .inner-content .inner-sapo {
    margin-top: 7px;
    font-size: 14px;
    color: #666;
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

@media (max-width: 991px) {
    .news-type-1 .inner-item .inner-content .inner-title a {
        font-size: 14px;
    }

    .news-type-1 .inner-item .inner-content .inner-sapo {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .news-type-1 .inner-item {
        flex-direction: column;
    }

    .news-type-1 .inner-item .inner-image {
        width: 100%;
    }

    .news-type-1 .inner-item .inner-content {
        width: 100%;
        padding: 15px;
    }
}

/* End news-type-1 */

/* news-type-2 */
.news-type-2 .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.news-type-2 .inner-item .inner-content {
    margin-top: 5px;
}

.news-type-2 .inner-item .inner-content .inner-title {
    color: var(--color-main);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-1);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.news-type-2 .inner-item .inner-content .inner-title:hover {
    color: var(--color-highlight);
}

@media (max-width: 991px) {
    .news-type-2 .inner-item .inner-content .inner-title {
        font-size: 13px;
    }
}

/* End news-type-2 */

/* news-type-3 */
.news-type-3 .inner-item {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ebebeb;
}

.news-type-3 .inner-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.news-type-3 .inner-item .inner-title {
    margin-bottom: 10px;
}

.news-type-3 .inner-item .inner-title a {
    color: var(--color-main);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-1);
}

.news-type-3 .inner-item .inner-title a:hover {
    color: var(--color-highlight);
}

.news-type-3 .inner-item .inner-content {
    display: flex;
    align-items: flex-start;
}

.news-type-3 .inner-item .inner-content .inner-image {
    width: 40%;
}

.news-type-3 .inner-item .inner-content .inner-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.news-type-3 .inner-item .inner-content .inner-sapo {
    flex: 1;
    text-align: justify;
    color: #666;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 991px) {
    .news-type-3 .inner-item .inner-title a {
        font-size: 13px;
    }

    .news-type-3 .inner-item .inner-content .inner-sapo {
        font-size: 12px;
    }
}

/* End news-type-3 */

/* news-type-4 */
.news-type-4 .inner-item {
    counter-increment: step;
    position: relative;
    padding: 15px 15px 15px 50px;
    border-radius: 5px;
}

.news-type-4 .inner-item:nth-child(odd) {
    background: #f0f0f0;
}

.news-type-4 .inner-item:before {
    content: counter(step, decimal);
    font-size: 32px;
    color: #adadad;
    position: absolute;
    top: 50%;
    left: 15px;
    line-height: 1;
    font-family: var(--font-1);
    font-weight: bold;
    margin-top: -20px;
}

.news-type-4 .inner-item a {
    font-size: 16px;
    font-family: var(--font-1);
    font-weight: bold;
    color: var(--color-main);
}

.news-type-4 .inner-item a:hover {
    color: var(--color-highlight);
}

@media (max-width: 991px) {
    .news-type-4 .inner-item {
        padding: 10px 10px 10px 40px;
    }

    .news-type-4 .inner-item:before {
        font-size: 20px;
    }

    .news-type-4 .inner-item a {
        font-size: 13px;
    }
}

/* End news-type-4 */

/* news-type-5 */
.news-type-5 .inner-list {
    padding: 20px;
    background: #d4d4d4;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.news-type-5 .inner-left {
    width: 68%;
}

.news-type-5 .inner-right {
    width: 30%;
}

.news-type-5 .inner-item {
    margin-bottom: 10px;
}

.news-type-5 .inner-item .inner-title a {
    color: var(--color-main);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-1);
}

.news-type-5 .inner-item .inner-title a:hover {
    color: var(--color-highlight);
}

.news-type-5 .inner-item .inner-content {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.news-type-5 .inner-item .inner-content .inner-image {
    width: 100px;
    height: 100%;
    aspect-ratio: 16/9;
}

.news-type-5 .inner-item .inner-content .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-type-5 .inner-item .inner-content .inner-sapo {
    flex: 1;
    font-size: 14px;
    color: #666;
    text-align: justify;
    margin-left: 10px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

@media (max-width: 991px) {
    .news-type-5 .inner-item .inner-title a {
        font-size: 13px;
    }

    .news-type-5 .inner-item .inner-content .inner-sapo {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .news-type-5 .inner-list {
        flex-direction: column;
    }

    .news-type-5 .inner-left {
        width: 100%;
    }

    .news-type-5 .inner-right {
        width: 100%;
    }
}

/* End news-type-5 */

/* news-type-6 */
.news-type-6 .inner-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ebebeb;
}

.news-type-6 .inner-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.news-type-6 .inner-item .inner-image {
    display: block;
    margin-bottom: 10px;
}

.news-type-6 .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.news-type-6 .inner-item .inner-title a {
    color: var(--color-main);
    font-weight: bold;
    font-size: 14px;
    font-family: var(--font-1);
}

.news-type-6 .inner-item .inner-title a:hover {
    color: var(--color-highlight);
}

.news-type-6 .inner-item:first-child .inner-title a {
    font-size: 16px;
}

@media (max-width: 991px) {
    .news-type-6 .inner-item {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .news-type-6 .inner-item:first-child .inner-title a {
        font-size: 14px;
    }

    .news-type-6 .inner-item .inner-title a {
        font-size: 13px;
    }
}

/* End news-type-6 */

/* news-type-7 */
.news-type-7 .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.news-type-7 .inner-item .inner-content {
    margin-top: 5px;
}

.news-type-7 .inner-item .inner-content .inner-title a {
    color: var(--color-main);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-1);
}

.news-type-7 .inner-item .inner-content .inner-title a:hover {
    color: var(--color-highlight);
}

.news-type-7 .inner-item .inner-content .inner-sapo {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    text-align: justify;
}

/* End news-type-7 */

/* cate-type-1 */
.cate-type-1 .inner-item {
    margin-bottom: 15px;
}

.cate-type-1 .inner-item:last-child {
    margin-bottom: 0;
}

.cate-type-1 .inner-item img {
    width: 100%;
    height: auto;
}

@media (max-width: 991px) {
    .cate-type-1 .inner-item {
        margin-bottom: 5px;
    }
}

/* End cate-type-1 */

/* videos-type-1 */
.videos-type-1 .inner-box {
    background: #e0e0e0;
}

.videos-type-1 .inner-item-highlight video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.videos-type-1 .inner-item-highlight .inner-content {
    padding: 10px 15px;
}

.videos-type-1 .inner-item-highlight .inner-content .inner-title a {
    color: var(--color-main);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-1);
}

.videos-type-1 .inner-item-highlight .inner-content .inner-title a:hover {
    color: var(--color-highlight);
}

.videos-type-1 .inner-item-highlight .inner-content .inner-sapo {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.videos-type-1 .inner-list {
    padding: 0 15px 15px 15px;
}

.videos-type-1 .inner-list .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.videos-type-1 .inner-list .inner-item .inner-title {
    margin-top: 5px;
    color: var(--color-main);
    font-size: 14px;
    font-weight: normal;
    font-family: var(--font-3);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    min-height: 56px;
    height: 56px;
}

.videos-type-1 .swiper-button-next,
.videos-type-1 .swiper-button-prev {
    background: rgba(255, 255, 255, 0.588);
    width: 20px;
    height: 40px;
    color: #151515;
    top: 40px;
}

.videos-type-1 .swiper-button-next {
    right: 0;
}

.videos-type-1 .swiper-button-prev {
    left: 0;
}

.videos-type-1 .swiper-button-next:after,
.videos-type-1 .swiper-button-prev:after {
    font-size: 14px;
    font-weight: 700;
}

@media (max-width: 991px) {
    .videos-type-1 .inner-item-highlight .inner-content .inner-title a {
        font-size: 13px;
    }

    .videos-type-1 .inner-item-highlight .inner-content .inner-sapo {
        font-size: 12px;
    }
}

/* End videos-type-1 */

/* Footer */
.footer {
    font-size: 14px;
    background: #E0E0E0;
    border-top: 1px solid #bdbdbd;
}

.footer-head {
    height: 31px;
    border-bottom: 1px solid #bdbdbd;
    box-shadow: 0 1px #eaeaea;
    line-height: 30px;
}

.footer-head .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-head .inner-left .inner-item a {
    font-family: var(--font-1);
    font-weight: bold;
    color: #4a4a4a;
}

.footer-head .inner-right {
    display: flex;
    align-items: center;
}

.footer-head .inner-right .inner-item {
    display: inline-block;
    line-height: 30px;
    border-left: 1px solid #bdbdbd;
    padding: 0 10px;
}

.footer-head .inner-right .inner-item:last-child {
    margin-right: 0;
}

.footer-head .inner-right .inner-item a {
    font-size: 13px;
    color: #4a4a4a;
}

.footer-head .inner-right .inner-item a:hover {
    color: var(--color-main);
}

.footer-main {
    padding: 22px 0;
}

.footer-list .inner-item {
    margin-bottom: 14px;
}

.footer-list .inner-item a {
    font-size: 13px;
    font-family: var(--font-1);
    font-weight: bold;
    color: #4a4a4a;
}

.footer-contact .inner-title {
    font-size: 14px;
    font-weight: bold;
    font-family: var(--font-1);
    margin-bottom: 5px;
}

.footer-contact .inner-list a {
    font-family: var(--font-1);
    font-size: 12px;
    color: var(--color-text);
    display: inline-block;
    margin-bottom: 5px;
}

.footer-contact .inner-list a i {
    color: #999;
}

.footer-contact .inner-info {
    margin-top: 10px;
}

.footer-desc .inner-legal {
    font-family: var(--font-1);
}

.footer-desc .inner-cms {
    margin-top: 5px;
    font-size: 10px;
    color: #999;
}

@media (max-width: 991px) {
    .footer-list .inner-item {
        margin-bottom: 8px;
    }

    .footer-list .inner-item a {
        font-size: 12px;
    }
}

/* End Footer */

/* go-to-top */
.go-to-top {
    width: 40px;
    height: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 40px;
    right: 40px;
    font-size: 20px;
    color: #999;
}

@media (max-width: 991px) {
    .go-to-top {
        width: 30px;
        height: 30px;
        bottom: 20px;
        right: 20px;
        font-size: 16px;
    }
}

/* End go-to-top */

/* Element Hidden */
@media (min-width: 992px) {
    .desktop-hidden {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .table-hidden {
        display: none;
    }
}

@media (max-width: 575px) {
    .mobile-hidden {
        display: none;
    }
}
/* End Element Hidden */